name: "build"
on:
  pull_request:
  push:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Install cross-compilation deps
        run: |
          sudo apt update
          sudo apt install -q -y \
            binfmt-support \
            gcc-aarch64-linux-gnu \
            qemu-system-aarch64 \
            qemu-user-static
      - uses: actions/checkout@v3
      - uses: cachix/install-nix-action@v15
        with:
          nix_path: nixpkgs=channel:nixos-22.05
          extra_nix_config: |
            extra-platforms = aarch64-linux
            max-jobs = auto
            system-features = big-parallel kvm
      - run: |
          nix build --max-jobs 4 --print-build-logs --show-trace
          nix show-derivation ./result
      # Workaround for https://github.com/actions/upload-artifact/issues/92
      - run: echo "UPLOAD_PATH=$(readlink -f result)" >> $GITHUB_ENV
      - uses: actions/upload-artifact@v3
        with:
          name: btrfspi
          path: ${{ env.UPLOAD_PATH }}
